[submodule "submodules/three-js-blobtree"]
	path = submodules/three-js-blobtree
	url = git@github.com:maximeq/three-js-blobtree.git
	branch = r4.130
[submodule "submodules/webgl-modelers"]
	path = submodules/webgl-modelers
	url = git@github.com:dioxygen-software/webgl-modelers.git
	branch = jeulin/migration-ts
